/* All styles for your Card Components live here */

.CardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 10px;
    margin-right: 10px;
}

.CardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    padding: 25px 0px 0px 15px;
}

.CardBanner-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 210px;
    border: 1px solid green;
}

.CardBanner-image {
    width: 100%;
    height: 253px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.CardContent-getStarted {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
}

.CardContent-reactjs {
    color: gray;
    line-height: 1.5;
}

.CardContent-text {
    font-size: 14px;
    padding-top: 10px;
    line-height: 1.4;
}