html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
}

body {
  background-color: white;
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  max-width: 590px;
  border: 1px solid red;
}

.HeaderContainer, .CardContainer, .Footer {
  max-width: 590px;
}

p {
  font-size: 15px;
}

