.largeBtn {
    font-size: 45px;
    background: #ffffff;
    width: 333px;
    height: 89px;
}

.standardBtn {
    font-size: 45px;
    background: #ffffff;
    width: 111px;
    height: 90px;
}

.operatorBtn {
    background: darkred;
    color: white;
}