.largeBtn {
    font-size: 45px;
    background: #ffffff;
    width: 100%;
    height: 105px;
}

.standardBtn {
    font-size: 45px;
    background: #ffffff;
    width: 105px;
    height: 105px;
}

.operatorBtn {
    background: red;
    color: white;
}